# Прогнозирование оттока клиентов в сети отелей «Как в гостях»

### Шаг 1. Откройте файлы с данными

In [2]:
# импорт библиотеки pandas
import pandas as pd

In [9]:
df_train = pd.read_csv('hotel_train.csv', sep=',')

In [10]:
df_test = pd.read_csv('hotel_train.csv', sep=',')

In [11]:
df_train

,id,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,booking_changes,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,total_nights
0,0,0,7.0,2015,July,27,1,0,1,1.0,...,0,0,0,A,0,0,Transient,0,0,1
1,1,0,14.0,2015,July,27,1,0,2,2.0,...,0,0,0,A,0,0,Transient,0,1,2
2,2,0,0.0,2015,July,27,1,0,2,2.0,...,0,0,0,C,0,0,Transient,0,0,2
3,3,0,9.0,2015,July,27,1,0,2,2.0,...,0,0,0,C,0,0,Transient,0,1,2
4,4,1,85.0,2015,July,27,1,0,3,2.0,...,0,0,0,A,0,0,Transient,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65224,84057,0,23.0,2016,December,53,30,2,4,2.0,...,0,0,0,D,0,0,Transient,0,2,6
65225,84063,0,53.0,2016,December,53,31,2,3,2.0,...,0,0,0,D,0,0,Transient,0,3,5
65226,84094,0,7.0,2016,December,53,31,2,4,2.0,...,0,0,0,D,0,0,Transient,0,1,6
65227,84117,0,17.0,2016,December,53,30,2,5,2.0,...,0,0,0,A,0,0,Transient,0,1,7
65228,84121,0,107.0,2016,December,53,31,2,5,2.0,...,0,0,0,A,0,0,Transient,0,0,7

In [12]:
df_test

,id,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,booking_changes,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,total_nights
0,0,0,7.0,2015,July,27,1,0,1,1.0,...,0,0,0,A,0,0,Transient,0,0,1
1,1,0,14.0,2015,July,27,1,0,2,2.0,...,0,0,0,A,0,0,Transient,0,1,2
2,2,0,0.0,2015,July,27,1,0,2,2.0,...,0,0,0,C,0,0,Transient,0,0,2
3,3,0,9.0,2015,July,27,1,0,2,2.0,...,0,0,0,C,0,0,Transient,0,1,2
4,4,1,85.0,2015,July,27,1,0,3,2.0,...,0,0,0,A,0,0,Transient,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65224,84057,0,23.0,2016,December,53,30,2,4,2.0,...,0,0,0,D,0,0,Transient,0,2,6
65225,84063,0,53.0,2016,December,53,31,2,3,2.0,...,0,0,0,D,0,0,Transient,0,3,5
65226,84094,0,7.0,2016,December,53,31,2,4,2.0,...,0,0,0,D,0,0,Transient,0,1,6
65227,84117,0,17.0,2016,December,53,30,2,5,2.0,...,0,0,0,A,0,0,Transient,0,1,7
65228,84121,0,107.0,2016,December,53,31,2,5,2.0,...,0,0,0,A,0,0,Transient,0,0,7

In [ ]:
#TODO
lead_time -> to_int
arrival_date_month -> to_int (OHE)
adults -> to_int
children -> to_int
babies -> to_int
meal -> to_int (OHE)
country -> to_int (OHE)
distribution_channel -> to_int (OHE)
is_repeated_guest -> to_bool
previous_cancellations -> to_bool
previous_bookings_not_canceled -> to_bool
reserved_room_type -> to_int (OHE)
customer_type -> to_int (OHE)

### Шаг 2. Предобработка и исследовательский анализ данных

In [15]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65229 entries, 0 to 65228
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              65229 non-null  int64
 1   is_canceled                     65229 non-null  int64
 2   lead_time                       65229 non-null  float64
 3   arrival_date_year               65229 non-null  int64
 4   arrival_date_month              65229 non-null  object
 5   arrival_date_week_number        65229 non-null  int64
 6   arrival_date_day_of_month       65229 non-null  int64
 7   stays_in_weekend_nights         65229 non-null  int64
 8   stays_in_week_nights            65229 non-null  int64
 9   adults                          65229 non-null  float64
 10  children                        65229 non-null  float64
 11  babies                          65229 non-null  float64
 12  meal                            65229 non-null  object
 13  country                         65229 non-null  object
 14  distribution_channel            65229 non-null  object
 15  is_repeated_guest               65229 non-null  int64
 16  previous_cancellations          65229 non-null  int64
 17  previous_bookings_not_canceled  65229 non-null  int64
 18  reserved_room_type              65229 non-null  object
 19  booking_changes                 65229 non-null  int64
 20  days_in_waiting_list            65229 non-null  int64
 21  customer_type                   65229 non-null  object
 22  required_car_parking_spaces     65229 non-null  int64
 23  total_of_special_requests       65229 non-null  int64
 24  total_nights                    65229 non-null  int64
dtypes: float64(4), int64(15), object(6)
memory usage: 12.4+ MB

In [16]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65229 entries, 0 to 65228
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              65229 non-null  int64
 1   is_canceled                     65229 non-null  int64
 2   lead_time                       65229 non-null  float64
 3   arrival_date_year               65229 non-null  int64
 4   arrival_date_month              65229 non-null  object
 5   arrival_date_week_number        65229 non-null  int64
 6   arrival_date_day_of_month       65229 non-null  int64
 7   stays_in_weekend_nights         65229 non-null  int64
 8   stays_in_week_nights            65229 non-null  int64
 9   adults                          65229 non-null  float64
 10  children                        65229 non-null  float64
 11  babies                          65229 non-null  float64
 12  meal                            65229 non-null  object
 13  country                         65229 non-null  object
 14  distribution_channel            65229 non-null  object
 15  is_repeated_guest               65229 non-null  int64
 16  previous_cancellations          65229 non-null  int64
 17  previous_bookings_not_canceled  65229 non-null  int64
 18  reserved_room_type              65229 non-null  object
 19  booking_changes                 65229 non-null  int64
 20  days_in_waiting_list            65229 non-null  int64
 21  customer_type                   65229 non-null  object
 22  required_car_parking_spaces     65229 non-null  int64
 23  total_of_special_requests       65229 non-null  int64
 24  total_nights                    65229 non-null  int64
dtypes: float64(4), int64(15), object(6)
memory usage: 12.4+ MB

### Шаг 3. Формулировка ML-задачи на основе бизнес-задачи

### Шаг 4. Разработка модели ML

### Шаг 5. Опишите портрет «ненадёжного» клиента

### Шаг 6. Напишите общий вывод